* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    position: relative;
    top: 0;
    left: 0;
    max-width: 50px;
    max-height: 695px;
    min-height: 695px;
    background-color: rgb(255, 163, 42);
    transition: all 1.5s ease;
    z-index: 100;
}

.menu.active {
    max-width: 100%;
    height: 695px;
}

.opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.opciones>li {
    /* border: 1px solid black; */
    margin: 20px;
    width: 100px;
    height: 80px;
    list-style: none;
    text-align: center;
}

.opciones>li>a {
    color: black;
    text-decoration: none;
    line-height: 80px;

}

/* burger */
.menu .burger {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    right: 0;
    top: 0;
    /* border: 1px solid black; */
}


/*ESTILOS DE REGISTRO*/

.registro {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    top: 5px;
    /* border: 1px solid black; */
}

.registro #img,
.login #img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.registro #form {
    /* border: 1px solid black; */
    padding: 127px;
    background: linear-gradient(360deg, rgba(255, 243, 199, 0.1295) 15.93%, rgba(255, 226, 74, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.registro #form>h1,
.login #form_login>h1 {
    font-family: monospace;
    text-align: center;
    margin-bottom: 0 !important;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 10px;

}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 310px;
    height: 50px;
    background: rgba(255, 255, 255, 0.13);
    border: 3px solid #FFC979;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin: 11px;
    text-align: center;
}

.ingresa {
    text-align: center;
}

.ingresa>a {
    color: blue;
    text-decoration: none;
}

button[type=submit] {
    margin: 21px 0;
}

.ingresa>a:hover {
    cursor: pointer;
}

/*FIN ESTILOS DE REGISTRO*/

/* LOGIN ESTILOS */
.login {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    top: 250px;
    /* border: 1px solid black; */
}

/* LOGIN ESTILOS */